.funclist{ "ng-repeat" => "name in funclistCtrl.names" }
  %func{ id: "{{ name }}", name: "{{name}}" }
    %h3 {{ name }}
    %p tekitoutekitoutekitoutekitoutekitoutekitoutekitoutekitoutekitoutekitoutekitoutekitoutekitoutekitoutekitou
    %a{ "ng-click" => "click()" } aaa
    %example{ name: "{{name}}" }
