.sf-navigation {
  position: fixed;
  top: 0px;
  overflow: scroll;
  padding: 20px;
  height: 100%;
  border-right: #1f1f1f 1px dotted;
  visibility: visible; }
  .sf-navigation.is-mobile {
    visibility: hidden; }
  .sf-navigation .funclist-group .funclist {
    padding-left: 0px; }
    .sf-navigation .funclist-group .funclist .funclist-item {
      list-style: none; }
      .sf-navigation .funclist-group .funclist .funclist-item .pre-name {
        display: inline-block;
        font-size: 3px; }
      .sf-navigation .funclist-group .funclist .funclist-item .name {
        text-decoration: none; }
