.div
  %h3 {{ name }}
  %p tekitoutekitoutekitoutekitoutekitoutekitoutekitoutekitoutekitoutekitoutekitoutekitoutekitoutekitoutekitou
  %a{ "ng-click" => "click()" } aaa
  %example{ name: "{{name}}" }
