!!!
%html{:lang => "en", "ng-app" => "app"}
%head
  %meta{:charset => "UTF-8"}
  %meta{ "http-equiv" => "X-UA-Compatible", "content" => "IE=edge"}
  %meta{ "name" => "viewport", "content" => "width=device-width, initial-scale=1.0" }

  / inject:css
  / endinject

  %title swift-functions
%body{ "ng-controller" => "MainCtrl as main" }
  .container
    .row
      .col-lg-3.col-md-4.col-sm-5.col-xs-12
        %sf-navigation
      .col-lg-9.col-md-8.col-sm-7.col-xs-12
        %sf-funclist

  / inject:js
  / endinject
