!!!
%html{:lang => "en", "ng-app" => "app"}
%head
  %meta{:charset => "UTF-8"}
  %meta{ "http-equiv" => "X-UA-Compatible", "content" => "IE=edge"}
  %meta{ "name" => "viewport", "content" => "width=device-width, initial-scale=1.0" }

  / inject:css
  / endinject

  %link{ :rel => "shortcut icon", :href => "favicon.ico" }
  %title swift-functions
%body
  %div{ "ui-view" => "" }

  / inject:js
  / endinject
