.sf-navigation
  %h1.title swift-functions
  %sf-languages-button
  %ul.list
    %li.list-item{ "ng-repeat" => "name in names" }
      %div
        \-
        %a.name{ "ng-click" => "scrollTo(name)" } {{name}}
