.sf-navigation{ "ng-class" => "{'is-mobile':isMobile}" }
  .funclist-group
    %ul.funclist
      %li.funclist-item{ "ng-repeat" => "name in names" }
        %div
          %span.pre-name ->
          %a.name{ "ng-click" => "scrollTo(name)" } {{name}}
