.sf-navigation {
  position: fixed;
  top: 0px;
  left: 0px;
  overflow: scroll;
  padding: 20px;
  height: 100%;
  width: 300px;
  border-right: #1f1f1f 1px dotted;
  .title {
    margin-top: 0px;
    font-size: 24px;
  }
  .funclist-group {
    .funclist {
      padding-left: 0px;
      .funclist-item {
        list-style: none;
        .pre-name {
          display: inline-block;
          font-size: 3px;
        }
        .name {
          text-decoration: none;
        }
      }
    }
  }
}
